@charset "utf-8";

:root {
  --header-width: 414px;
}

body {
  color: $color-font;
  text-size-adjust: 100%;
  @include font-sans;
  @include lh-base;
  @include fz-m;
}

.app {
  position: relative;
  @include max {
    padding-bottom: 100px;
  }
}

.container {
  position: relative;
  background-color: $color-white;
  @include min {
    max-width: $width-max;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $height-footer-pc; 
  }
  &:before {
    @include min($mq-tb-min) {
      content: "";
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 100;
      left: 0;
      right: 0;
      border: $border-width solid $color-border;
      pointer-events: none;
      box-sizing: border-box;
    }
    @include min {
      max-width: $width-max;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &:after {
    @include min($mq-tb-min) {
      content: "";
      width: $border-width;
      height: 100vh;
      position: fixed;
      z-index: 100;
      top: 0;
      left: $width-menu-pc;
      background-color: $color-border;
      pointer-events: none;
      box-sizing: border-box;
    }
    @include min {
      left: calc(50% - #{$width-max} / 2 + #{$width-menu-pc});
    }
  }
}

.main {
  position: relative;
  @include min($mq-tb-min) {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
}

.contents {
  position: relative;
  @include max($mq-tb-max) {
    min-height: 100vh;
  }
  @include min($mq-tb-min) {
    width: calc(100% - #{$width-menu-pc});
    min-height: calc(100vh - #{$height-footer-pc});
  }
}

.sp {
  @include min {
    display: none;
  }
}

.pc {
  @include max {
    display: none;
  }
}
