@charset "utf-8";

body {
  font-size: 14px;
  color: $color-font;
  font-feature-settings: "palt";
  background-color: $color-white;
  @include font-sans;
  @include max {
    line-height: 1.7;
  }
  @include min {
    line-height: 1.8;
    font-size: 18px;
  }
}

.container {
  position: relative;
  @include max {
    padding: 0 $width-border-sp;
  }
  @include min {
    max-width: $width-max;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
}

.main {
  @include min {
    display: flex;
    align-items: flex-start;
  }
}

.contents {
  min-width: 0;
  flex-grow: 1;
  position: relative;
  @include max {
    min-height: calc(100vh - #{$height-footer-sp});
    padding-bottom: $padding-bottom-sp;
  }
  @include min {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 170px;
    min-height: calc(100vh - #{$height-footer-pc});
  }
}

.sp {
  @include min {
    display: none;
  }
}

.pc {
  @include max {
    display: none;
  }
}
