@charset "utf-8";

// -----------------------------------------------------
// 要素に直接指定するもの
// 増えると秩序がなくなるので最小限にする
// -----------------------------------------------------

pre {
  padding: 1.2rem;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--color-snow);
  line-height: 1.6;
  border-radius: 0.3rem;
  font-family: var(--font-mono);
  @include min {
    padding: 3.2rem;
  }
}

* + pre,
pre + * {
  @include max {
    margin-top: 1.8rem;
  }
  @include min {
    margin-top: 2.5rem;
  }
}

code {
  padding: 0.3rem;
  background-color: var(--color-snow);
}