@charset "utf-8";

// -----------------------------------------------------
// 要素に直接指定するもの
// 増えると秩序がなくなるので最小限にする
// -----------------------------------------------------

pre {
  padding: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: $color-snow;
  line-height: 1.6;
  border-radius: 3px;
  @include font-source;
  @include min {
    padding: 32px;
  }
}

* + pre,
pre + * {
  @include max {
    margin-top: 18px;
  }
  @include min {
    margin-top: 25px;
  }
}