body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
  border-radius: 0;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  background: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}
