.heading {
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: 0.08em;
  font-feature-settings: "palt";
  border-bottom: var(--border-width) solid var(--color-border);
  font-size: var(--text-lg);
  @include max {
    padding: 1.2rem var(--base-padding);
  }
  @include min {
    min-height: var(--section-heading-height);
    padding: 1.8rem var(--base-padding);
    line-height: var(--leading-none);
  }
  a {
    position: relative;
  }
}