.large-heading {
  display: flex;
  min-height: var(--heading-height);
  align-items: center;
  letter-spacing: 0.08em;
  font-feature-settings: "palt";
  border-bottom: var(--border-width) solid var(--color-border);
  position: relative;
  font-size: var(--text-3xl);
  @include radius;
  @include max {
    padding: 0 var(--base-padding);
  }
  @include min {
    padding: 0 var(--base-padding);
  }
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    height: var(--border-width);
    width: 100%;
    left: 0;
    background-color: var(--color-border);
  }
}
.large-heading-ja {
  font-weight: 400;
  font-size: var(--text-2xl);
}