@charset "utf-8";

// -----------------------------------------------------
// エラー
// -----------------------------------------------------

.error {
  &-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-red, 0.8);
    &-message {
      font-size: 32px;
      line-height: 2;
      color: $color-white;
    }
  }
  &-title {
    padding: $padding-contents-sp;
    display: flex;
    align-items: center;
    @include font-ramabhadra;
    @include min {
      height: 138px;
      padding: $padding-contents-pc;
      font-size: 46px;
    }
    @include bb;
  }
  &-text {
    padding: $padding-contents-sp;
    font-weight: bold;
    line-height: 2;
    @include min {
      padding: $padding-contents-pc;
      font-size: 32px;
    }
  }
}
