@charset "utf-8";

// -----------------------------------------------------
// リスト
// -----------------------------------------------------

.list {
  &-item {
    padding-left: 16px;
    position: relative;
    @include min {
      padding-left: 20px;
    }
    &:before {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: 12px;
      left: 1px;
      background-color: currentColor;
      @include min {
        width: 8px;
        height: 8px;
        top: 16px;
      }
    }
  }
}
