@charset "utf-8";

// -----------------------------------------------------
// テキスト
// -----------------------------------------------------

.text {
  margin: 10px 0;
  @include min {
    margin: 12px 0;
  }
  &-notice {
    margin: 12px 0;
    padding-left: 1em;
    text-indent: -1em;
    font-size: 90%;
    color: $color-modest;
    &:before {
      content: '※';
    }
    @include min {
      margin: 14px 0;
    }
  }
  &-link {
    color: $color-link;
    path {
      fill: $color-link;
    }
    &:hover {
      text-decoration: underline;
    }
    &-hover {
      &:hover {
        color: $color-link;
        path {
          fill: $color-link;
        }
      }
    }
  }
}
