@charset "utf-8";

// ==========================================================================
// 変数とmixin
// ==========================================================================
@import 'foundation/variables';
@import 'foundation/mixin';

// ==========================================================================
// リセットとか
// ==========================================================================
@import 'base/reset';

// ==========================================================================
// 共通設定
// ==========================================================================
@import 'base/common';
@import 'base/element';

// ==========================================================================
// コンポーネント
// ==========================================================================
@import 'components/anime';
@import 'components/button';
@import 'components/error';
@import 'components/form';
@import 'components/list';
@import 'components/price';
@import 'components/section';
@import 'components/table';
@import 'components/text';
@import 'components/title';

// ==========================================================================
// 全ページにあるやつ
// ==========================================================================
@import 'layout/cart';
@import 'layout/footer';
@import 'layout/menu';

// ==========================================================================
// ページ
// ==========================================================================
@import 'pages/about';
@import 'pages/detail';
@import 'pages/landing';
@import 'pages/service';
