@charset "utf-8";

.accordion-list {
  border-bottom: 1px solid $color-border;
  @include max {
    padding: 60px 0;
  }
  @include min {
    padding: 120px 0;
  }
}
.accordion-item {
  border-bottom: 1px solid $color-dark-gray;
  transition: border-radius 0.32s $easeOutQuart;
  &.is-active {
    .accordion-inside {
      opacity: 1;
    }
    .accordion-title:after {
      transform: translateY(5px) rotate(-45deg);
    }
  }
  &:first-child {
    border-top: 1px solid $color-dark-gray;
  }
}

.accordion-title {
  width: 100%;
  display: block;
  position: relative;
  text-align: left;
  @include lh-1;
  @include transition-fade;
  @include max {
    padding: 22px 22px 22px 0;
  }
  @include min {
    padding: 52px $padding-base-pc;
    &:hover {
      opacity: 0.7;
    }
  }
  &:after {
    content: "";
    position: absolute;
    border-top: 1px solid currentColor;
    border-right: 1px solid currentColor;
    transform: rotate(135deg);
    transition: transform 0.32s $easeOutQuart;
    @include max {
      width: 8px;
      height: 8px;
      top: calc(50% - 6px);
      right: 24px;
    }
    @include min {
      width: 10px;
      height: 10px;
      top: calc(50% - 8px);
      right: 40px;
    }
  }
}

.accordion-frame {
  overflow: hidden;
  height: 0;
  will-change: height;
}

.accordion-inside {
  position: relative;
  opacity: 0;
  border-top: $width-border-input dashed $color-dark-gray;
  transition: opacity 0.1s linear;
  will-change: opacity;
  @include fz-s;
  @include max {
    padding: $padding-sp 0;
  }
  @include min {
    padding: $padding-base-pc;
  }
  .text {
    text-align: justify;
  }
}
