@charset "utf-8";

.accordion-item {
  border: 1px solid $color-dark-gray;
  border-radius: 8px;
  &.is-active {
    .accordion-inside {
      opacity: 1;
    }
    .accordion-title:after {
      transform: translateY(5px) rotate(-45deg);
    }
  }
  &:nth-child(n+2) {
    @include max {
      margin-top: 24px;
    }
    @include min {
      margin-top: 20px;
    }
  }
}

.accordion-title {
  width: 100%;
  display: block;
  position: relative;
  text-align: left;
  @include transition-fade;
  @include max {
    padding: 18px 30px 18px 20px;
  }
  @include min {
    padding: 24px 36px;
    &:hover {
      opacity: 0.7;
    }
  }
  &:after {
    content: "";
    position: absolute;
    right: 32px;
    border-top: 1px solid currentColor;
    border-right: 1px solid currentColor;
    transform: rotate(135deg);
    transition: transform 0.32s $easeOutQuart;
    @include max {
      width: 8px;
      height: 8px;
      top: calc(50% - 6px);
    }
    @include min {
      width: 10px;
      height: 10px;
      top: calc(50% - 8px);
    }
  }
}

.accordion-frame {
  overflow: hidden;
  height: 0;
  will-change: height;
}

.accordion-inside {
  position: relative;
  opacity: 0;
  border-top: $width-border-input dashed $color-dark-gray;
  transition: opacity 0.1s linear;
  will-change: opacity;
  @include fz-s;
  @include max {
    padding: $padding-sp $padding-sp;
  }
  @include min {
    padding: 32px 36px;
  }
  .text {
    text-align: justify;
  }
}
