.ad {
  overflow: hidden;
}
.ad-section {
  margin-top: calc(var(--column-height) * 2 - var(--border-width));
  border-top: var(--border-width) solid var(--color-border);
}
.ad-desc {
  @include max {
    margin-top: 2.4rem;
  }
  @include min {
    margin-top: 2rem;
  }
}