@charset "utf-8";

.button-remove {
  width: 32px;
  height: 32px;
  position: relative;
  background-color: $color-black;
  border-radius: 50%;
  @include hide-text;
  &:before,
  &:after {
    content: '';
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $color-white;
    @include max {
      height: 2px;
    }
    @include min {
      height: $width-border-form;
    }
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
