.calc {
  position: relative;
  z-index: 0;
}
.calc-section {
  .calc.mod-multiple {
    @include max {
      margin-bottom: 5rem;
    }
    @include min {
      margin-bottom: 4rem;
    }
  }
  .table {
    border-top: none;
  }
}
.calc-label {
  line-height: var(--leading-tight);
  font-size: var(--text-xl);
  @include max {
    padding: 2rem var(--base-padding) 0;
  }
  @include min {
    display: flex;
    align-items: flex-end;
    height: var(--column-height);
    padding: 0 var(--base-padding);
  }
}
.calc-footer {
  height: calc(var(--column-height) * 2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.calc-append {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.2rem;
  border-radius: 999em;
  color: var(--color-white);
  background-color: var(--color-button);
  @include transition-collection;
  @include hover {
    background-color: var(--color-button-hover);
  }
  @include keyboard-focus {
    @include focus-button;
  }
  span {
    padding-left: 2rem;
    position: relative;
    text-align: left;
    font-size: var(--text-sm);
    line-height: var(--leading-none);
    &:before,
    &:after {
      content: '';
      width: 1.2rem;
      height: var(--border-width);
      position: absolute;
      top: 50%;
      left: 0;
      background-color: currentColor;
    }
    &:before {
      transform: translate3d(0, -50%, 0);
    }
    &:after {
      transform: translate3d(0, -50%, 0) rotate(90deg);
    }
  }
}
