@charset "utf-8";

.error-modal {
  width: calc(100% - 60px);
  max-width: 500px;
  z-index: 100;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  @include center(fixed);
  @include min {
    width: calc(100% - 80px);
    max-width: 800px;
    padding: 40px;
  }
  &-message {
    text-align: center;
    white-space: pre-wrap;
    @include fz-xl;
  }
  &-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: $color-button;
    @include hide-text;
    @include min {
      width: 50px;
      height: 50px;
      top: -25px;
      right: -25px;
    }
    &:before,
    &:after {
      content: "";
      width: 50%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
