@charset "utf-8";

.error-modal {
  width: calc(100% - 6rem);
  max-width: 50rem;
  z-index: 100;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: var(--border-width) solid var(--color-dark);
  @include center(fixed);
  @include min {
    width: calc(100% - 8rem);
    max-width: 80rem;
    padding: 4rem;
  }
}
.error-modal-message {
  text-align: center;
  white-space: pre-wrap;
  font-size: var(--text-2xl);
}
.error-modal-close {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -2rem;
  right: -2rem;
  background-color: var(--color-button);
  @include hide-text;
  @include min {
    width: 5rem;
    height: 5rem;
    top: -2.5rem;
    right: -2.5rem;
  }
  &:before,
  &:after {
    content: "";
    width: 50%;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}