@charset "utf-8";

.form-label {
  display: block;
  @include fz-s;
  @include lh-min;
  @include max {
    margin-bottom: 10px;
  }
  @include min {
    margin-bottom: 10px;
  }
}
.form-text {
  position: relative;
}
.form-text-input {
  width: 100%;
  text-align: center;
  border: var(--border-width) solid var(--color-border-dark);
  background-color: var(--color-white);
  border-radius: 4px;
  @include fz-form;
  @include font-en;
  @include transition-collection;
  @include max {
    padding: 10px;
  }
  @include min {
    padding: 10px 12px;
  }
  &:invalid {
    background-color: rgba(var(--color-red), 0.2);
  }
  &:focus {
    border-color: var(--color-button);
  }
}
.form-select {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  background-color: var(--color-white);
  border: var(--border-width) solid var(--color-border-dark);
  border-radius: 4px;
  select {
    opacity: 0;
    cursor: pointer;
    @include fz-form;
    @include fit-full;
  }
  &:after {
    content: '';
    width: 8px;
    height: 8px;
    top: calc(50% - 8px);
    position: absolute;
    border-bottom: var(--border-width) solid var(--color-border-dark);
    border-right: var(--border-width) solid var(--color-border-dark);
    transform: rotate(45deg);
    pointer-events: none;
    @include max {
      right: 16px;
    }
    @include min {
      right: 14px;
    }
  }
}
.form-select-value {
  display: block;
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-white);
  @include font-en;
  @include fz-form;
  @include lh-1;
  @include max {
    padding: 11px 16px 11px 0;
  }
  @include min {
    padding: 14px 16px 13px 0;
  }
}