@charset "utf-8";
// -----------------------------------------------------
// フォーム
// -----------------------------------------------------
.form {
  &-text {
    position: relative;
    &-input {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      text-align: center;
      border: 2px solid $color-border;
      transition: 0.15s $easeOutCubic;
      &:invalid {
        border-color: $color-red;
      }
    }
    &-alert {
      width: 100%;
      position: absolute;
      bottom: calc(100% + 8px);
      left: 0;
      padding: 4px 0;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-align: center;
      color: $color-white;
      background-color: $color-red;
      pointer-events: none;
    }
  }
  &-select {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    border: 2px solid $color-border;
    background-color: #fff;
    select {
      width: 100%;
      padding: 8px;
      border: none;
      border-radius: 0;
      font-size: 16px;
      cursor: pointer;
    }
    &:after {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      bottom: 3px;
      right: 10px;
      margin: auto 0;
      border-top: 2px solid $color-border;
      border-right: 2px solid $color-border;
      transform: rotate(135deg);
      pointer-events: none;
    }
  }
}
