@charset "utf-8";

.form-label {
  display: block;
  @include fz-s;
  @include lh-min;
  @include max {
    margin-bottom: 10px;
  }
  @include min {
    margin-bottom: 12px;
  }
}

.form-text {
  position: relative;
}

.form-text-input {
  width: 100%;
  text-align: center;
  border: $width-border-input solid $color-muted;
  background-color: $color-white;
  border-radius: $radius;
  @include fz-form;
  @include font-en;
  @include transition-collection;
  @include max {
    padding: 10px;
  }
  @include min {
    padding: 12px;
  }
  &:invalid {
    background-color: rgba($color-red, 0.2);
  }
  &:focus {
    border-color: $color-black;
  }
}

.form-select {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  background-color: $color-white;
  border: $width-border-input solid $color-muted;
  border-radius: $radius;
  select {
    opacity: 0;
    cursor: pointer;
    @include fz-form;
    @include fit-full;
  }
  &-value {
    display: block;
    text-align: center;
    white-space: nowrap;
    background-color: $color-white;
    @include font-en;
    @include fz-form;
    @include lh-1;
    @include max {
      padding: 11px 16px 11px 0;
    }
    @include min {
      padding: 14px 16px 13px 0;
    }
  }
  &:after {
    content: '';
    width: 8px;
    height: 8px;
    top: calc(50% - 8px);
    position: absolute;
    border-bottom: $width-border-input solid $color-muted;
    border-right: $width-border-input solid $color-muted;
    transform: rotate(45deg);
    pointer-events: none;
    @include max {
      right: 16px;
    }
    @include min {
      right: 14px;
    }
  }
}
