@charset "utf-8";

// -----------------------------------------------------
// リスト
// -----------------------------------------------------

.list {
  &-item {
    line-height: 1.4;
    position: relative;
    @include max {
      padding-left: 18px;
    }
    @include min {
      padding-left: 18px;
    }
    &:nth-child(n+2) {
      @include max {
        margin-top: 4px;
      }
      @include min {
        margin-top: 10px;
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      background-color: $color-border;
      @include max {
        width: 8px;
        height: 2px;
      }
      @include min {
        width: 10px;
        height: 2px;
      }
    }
  }
}
