@charset "utf-8";

.list-item {
  line-height: 1.4;
  position: relative;
  padding-left: 20px;
  &:nth-child(n+2) {
    @include max {
      margin-top: 6px;
    }
    @include min {
      margin-top: 10px;
    }
  }
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent $color-border;
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
  }
}
