@charset "utf-8";

.list-bg {
  margin-bottom: 24px;
  background: #fafafa;
  @include max {
    padding: 20px;
  }
  @include min {
    padding: 32px;
  }
}

.list-item {
  position: relative;
  padding-left: 16px;
  + .list-item {
    margin-top: 0.2em;
  }
  &:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
  }
}
