@charset "utf-8";

.price {
  display: inline-flex;
  align-items: baseline;
  font-size: var(--text-sm);
  line-height: var(--leading-none);
  &.mod-large {
    .price-unit {
      font-size: var(--text-sm);
      @include min {
        margin-left: 0.6rem;
      }
    }
  }
}

.price-number {
  font-size: 170%;
  font-family: var(--font-mono);
}

.price-unit {
  @include max {
    margin-left: 0.6rem;
  }
  @include min {
    margin-left: 0.6rem;
  }
}

