@charset "utf-8";

// -----------------------------------------------------
// 価格
// -----------------------------------------------------

.price {
  display: inline-flex;
  align-items: flex-end;
  font-family: sans-serif;
  line-height: 1;
  letter-spacing: 0.06em;
  @include max-large {
    font-size: 12px;
  }
  @include min-large {
    font-size: 12px;
  }
  &-number {
    @include font-number;
    @include max-large {
      font-size: 160%;
    }
    @include min-large {
      font-size: 180%;
    }
  }
  &-unit {
    margin: 0 0 3px 4px;
    color: $color-modest;
  }
  &.mod-large {
    @include max-large {
      font-size: 12px;
    }
    @include min-large {
      font-size: 14px;
    }
    .price-unit {
      margin: 0 0 2px 6px;
    }
  }
}
