@charset "utf-8";

// -----------------------------------------------------
// セクション
// -----------------------------------------------------

.section {
  + .section {
    border-top: 1px solid $color-border;
    @include max {
      margin-top: $margin-sp * 3;
      padding-top: $margin-sp * 3;
    }
    @include min {
      margin-top: $margin-pc * 5;
      padding-top: $margin-pc * 5;
    }
  }
  &-box {
    // overflow: hidden;
    // border-radius: $radius;
    // border: $width-border solid $color-border;
  }
  &-child {
    + .section-child {
      margin-top: 20px;
      @include min {
        margin-top: 50px;
      }
    }
  }
}
