@charset "utf-8";

.section-list {
  position: relative;
  border-top: $border-width solid $color-border;
  @include min($width-content-max + $width-menu-pc + $width-blank) {
    padding-right: calc(100% - #{$width-content-max});
    &:after {
      background-color: $color-white;
      @include blank;
    }
  }
}
.large-heading + .section-list {
  border-top: 0;
}
.section {
  position: relative;
}
.section + .section {
  border-top: $border-width solid $color-border;
}
.section-content {
  @include max {
    padding: $padding-base-sp * 1.4 $padding-base-sp;
  }
  @include min {
    position: relative;
    padding: $padding-base-pc;
  }
}
.section-child + .section-child {
  margin-top: 32px;
}
