@charset "utf-8";

.section {
  + .section {
    border-top: 1px solid $color-border;
  }
}

.section-child {
  + .section-child {
    @include max {
      margin-top: 24px;
    }
    @include min {
      margin-top: 40px;
    }
  }

  > * + * {
    @include max {
      margin-top: 12px;
    }
    @include min {
      margin-top: 14px;
    }
  }
  > *:last-child {
    margin-bottom: 0;
  }
}
