@charset "utf-8";

.spec {
  border-collapse: collapse;
  @include max {
    width: 100%;
    margin: 30px 0;
  }
  @include min {
    margin: 40px 0;
  }
  &.mod-mt0 {
    margin-top: 0;
  }
  &.mod-mb0 {
    margin-bottom: 0;
  }
  &.mod-center {
    text-align: center;
  }
  th,
  td {
    border: 1px solid $color-border;
    @include max {
      padding: 8px;
    }
    @include min {
      padding: 12px 16px;
    }
  }
  td {
    &.mod-align-right {
      text-align: right;
    }
  }
  caption {
    margin-top: 8px;
    caption-side: bottom;
    font-size: 80%;
    text-align: left;
  }
}