@charset "utf-8";

.spec {
  border-collapse: collapse;
  &.mod-center {
    th,
    td {
      text-align: center;
    }
  }
  thead th {
    text-align: center;
    padding-top: 0;
  }
  tbody {
    th {
      white-space: nowrap;
    }
  }
  th,
  td {
    text-align: left;
    border: 1px solid $color-border;
    @include max {
      padding: 8px 14px;
    }
    @include min {
      padding: 14px 28px;
    }
  }
  th {
    text-align: center;
    background-color: $color-snow;;
  }
  caption {
    margin-top: 18px;
    caption-side: bottom;
    text-align: left;
    color: $color-muted;
    @include fz-s;
  }
}
