@charset "utf-8";

.spec {
  width: 100%;
  border-collapse: collapse;
  &.mod-center {
    th,
    td {
      text-align: center;
    }
  }
  thead th {
    text-align: center;
    padding-top: 0;
  }
  tbody {
    th {
      white-space: nowrap;
    }
  }
  th,
  td {
    text-align: left;
    border: var(--border-width) solid var(--color-border);
    @include max {
      padding: 0.8rem 1.4rem;
    }
    @include min {
      padding: 1.4rem 2.8rem;
    }
  }
  th {
    text-align: center;
  }
  caption {
    margin-top: 1.8rem;
    caption-side: bottom;
    text-align: left;
    color: var(--color-muted);
    font-size: var(--text-sm);
  }
}
