@charset "utf-8";

.table {
  width: 100%;
  display: block;
  position: relative;
  tbody {
    display: block;
  }
  tr {
    width: 100%;
    position: relative;
    border-bottom: var(--border-width) solid var(--color-border);
    @include max {
      display: block;
      padding: 2.4rem 0;
    }
    @include min {
      height: calc(var(--column-height) * 3);
      display: flex;
      align-items: flex-end;
      padding-left: calc(var(--base-padding) - 0.8rem);
    }
  }
  td {
    @include max {
      display: block;
      padding: 0 var(--base-padding);
      + td {
        margin-top: 2rem;
        &.mod-price {
          margin-top: 4rem;
        }
      }
      &.mod-price {
        display: flex;
        justify-content: flex-end;
        .price {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding-bottom: 0.5rem;
        }
      }
    }
    @include min {
      width: 14.7rem;
      padding: 0 0.8rem 2.8rem;
      box-sizing: content-box;
      &.mod-minimal {
        width: 8.6rem;
      }
      &.mod-small {
        width: 12rem;
      }
      &.mod-large {
        width: 20rem;
      }
      &.mod-price {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 3rem;
        padding-right: 3.2rem;
      }
      &.mod-w-33 {
        width: 33.333%;
        box-sizing: border-box;
        &:nth-child(n+4) {
          padding-top: 0;
          margin-top: -1.8rem;
        }
      }
    }
    &:last-child {
      @include min {
        min-width: 20rem;
      }
    }
    .button-remove {
      position: absolute;
      @include max {
        width: 3rem;
        height: 3rem;
        bottom: 2.4rem;
        left: var(--base-padding);
      }
      @include min {
        top: 5.1rem;
        left: 1.6rem;
      }
    }
  }
}
.table.mod-grande {
  @include min {
    tr {
      flex-wrap: wrap;
      padding-right: 24rem;
      height: calc(var(--column-height) * 6);
    }
    td.mod-price {
      width: 24rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
.table-spec {
  margin: 3rem 0;
  border-collapse: collapse;
  td {
    padding: 0.8rem 1.2rem;
  }
}
