@charset "utf-8";

// -----------------------------------------------------
// テキスト
// -----------------------------------------------------

.text {
  text-align: justify;
  &-notice {
    margin: 12px 0;
    padding-left: 1em;
    text-indent: -1em;
    font-size: 90%;
    color: $color-modest;
    &:before {
      content: '※';
    }
    @include min {
      margin: 14px 0;
    }
  }
  &-link {
    color: $color-link;
    path {
      fill: $color-link;
    }
  }
  &-zakuri {
    text-align: justify;
    line-height: 2;
    letter-spacing: 0.12em;
    @include max {
      font-size: 14px;
    }
    @include min {
      font-size: 18px;
    }
    + .text-zakuri {
      @include max {
        margin-top: 32px;
      }
      @include min {
        margin-top: 40px;
      }
    }
  }
  &-quote {
    line-height: 1.8;
    @include max {
      margin: 40px 0;
      padding: 0 20px;
      font-size: 26px;
      @include font-en(300);
    }
    @include min {
      margin: 80px 0;
      padding: 0 40px;
      font-size: 42px;
      @include font-en;
    }
  }
}

* {
  + .text,
  + .text-notice {
    @include max {
      margin-top: 12px;
    }
    @include min {
      margin-top: 14px;
    }
  }
}