@charset "utf-8";

.text {
  text-align: justify;
}
.text + .text {
  margin-top: 1em;
}
.text-link {
  color: var(--color-link);
  text-decoration: underline;
  @include min {
    &:hover {
      text-decoration: none;
    }
  }
}
.text-notice {
  color: var(--color-muted);
  font-size: var(--text-sm);
}