@charset "utf-8";

.text {
  text-align: justify;
}

* + .text {
  @include max {
    margin-top: 12px;
  }
  @include min {
    margin-top: 20px;
  }
}

.title-small + .text {
  margin-top: 0;
}

.text-link {
  color: $color-link;
  text-decoration: underline;
  @include min {
    &:hover {
      text-decoration: none;
    }
  }
}

.text-bold {
  font-weight: 700;
}
