@charset "utf-8";

.title-page {
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  font-feature-settings: "palt";
  @include font-en;
  @include fz-grande;
  @include lh-1;
  @include radius;
  @include max {
    min-height: $height-heading-sp;
    padding: 0 $padding-base-sp;
  }
  @include min {
    padding: 0 $padding-base-pc;
    min-height: $height-heading-pc;
  }
  &-ja {
    font-weight: 400;
    @include font-sans;
    @include fz-xl;
  }
}

.title-page-fullname {
  color: rgba($color-dark, 0.1);
  padding-left: 0.3em;
  @include max {
    display: none;
  }
}

.title-section {
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: 0.08em;
  font-feature-settings: "palt";
  border-bottom: $border-width solid $color-border;
  @include fz-ml;
  @include max {
    padding: 12px $padding-base-sp;
  }
  @include min {
    min-height: $height-section-heading-pc;
    padding: 18px $padding-base-pc;
    @include lh-1;
  }
  a {
    position: relative;
  }
}

.title-small {
  display: flex;
  font-weight: 700;
  @include fz-ml;
  @include lh-min;
  @include max {
    margin-bottom: 16px;
  }
  @include min {
    margin-bottom: 14px;
  }
}

.title-xsmall {
  display: block;
  font-weight: 700;
}