@charset "utf-8";

.title-page {
  display: flex;
  align-items: center;
  color: $color-black;
  @include font-en;
  @include fz-grande;
  @include lh-1;
  @include radius;
  @include max {
    min-height: $height-heading-sp;
  }
  @include min {
    padding: 0 $padding-base-pc;
    min-height: $height-heading-pc;
  }
  &-ja {
    font-weight: 400;
    @include font-sans;
    @include fz-xl;
  }
}

.title-section {
  display: flex;
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-feature-settings: "palt";
  border-bottom: 1px dashed $color-border;
  @include fz-l;
  @include lh-min;
  @include max {
    padding: 36px 0;
  }
  @include min {
    padding: $padding-base-pc;
  }
  &-large {
    // @include font-en;
    // @include min {
    //   padding-right: 0.1em;
    //   font-size: 110%;
    // }
  }
  a {
    position: relative;
  }
}

.title-page-fullname {
  color: rgba($color-black, 0.1);
  @include max {
    display: none;
  }
  @include min {
    padding-left: 0.2em;
  }
}

.title-small {
  display: flex;
  font-weight: 700;
  @include lh-min;
  @include max {
    margin-bottom: 6px;
  }
  @include min {
    margin-bottom: 8px;
  }
}


