@charset "utf-8";

.cart {
  z-index: 100;
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: $color-black;
  @include min {
    height: $height-cart-pc;
  }
}

.cart-container {
  @include min {
    width: 100%;
    max-width: $width-max;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-left: auto;
    margin-right: auto;
    padding: 0 $padding-content-pc; 
  }
}

.cart-official {
  display: flex;
  align-items: center;
  color: $color-white;
  @include fz-s;
  svg {
    width: 14px;
    height: 14px;
    margin-left: 0.4em;
  }
  path {
    fill: $color-white;
  }
}

.cart-link {
  display: flex;
  align-items: center;
  overflow: hidden;
  @include min {
    padding: 12px 0;
  }
}

.cart-detail {
  white-space: nowrap;
  font-weight: 700;
  background-color: $color-white;
  border-radius: 3px;
  @include fz-s;
  @include transition-collection;
  @include max {
    padding: 5px 16px;
  }
  @include min {
    padding: 2px 14px;
  }
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  color: $color-white;
  @include transition-fade;
  @include fz-l;
  @include max {
    min-width: 220px;
    flex-grow: 1;
    padding: 14px 14px 14px 18px;
  }
  @include min {
    min-width: 260px;
    padding: 6px 18px;
  }
}

.cart-label {
  font-weight: 700;
  margin-right: 0.5em;
  @include fz-m;
  @include lh-1;
}
