@charset "utf-8";

// -----------------------------------------------------
// 合計
// -----------------------------------------------------
.cart {
  display: flex;
  align-items: center;
  border: 2px solid $color-black;
  background-color: $color-black;
  border-radius: 999em;
  overflow: hidden;
  @include max-large {
    width: 100%;
    max-width: 400px;
  }
  &-link {
    white-space: nowrap;
    color: $color-white;
    @include transition-collection;
    @include max-large {
      padding: 5px 16px;
    }
    @include min-large {
      padding: 5px 22px;
    }
  }
  &-total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding: 4px 0 8px 2em;
    background-color: $color-white;
    z-index: 1;
    @include transition-fade;
    @include max-large {
      min-width: 220px;
      flex-grow: 1;
      padding: 14px 14px 14px 18px;
      font-size: 14px;
    }
    @include min-large {
      min-width: 270px;
      padding: 14px 14px 14px 18px;
      font-size: 24px;
    }
    .price-number {
      @include max {
        &.mod-expensive {
          font-size: 140%;
        }
      }
    }
  }
  &-label {
    line-height: 1;
    @include max-large {
      font-size: 14px;
    }
    @include min-large {
      font-size: 18px;
    }
  }
}
