@charset "utf-8";

.cart {
  z-index: 100;
  display: flex;
  @include max {
    position: fixed;
    right: 86px;
    bottom: $padding-sp;
    align-items: center;
    border-radius: 999em;
    overflow: hidden;
    border: 1px solid currentColor;
    background-color: $color-button;
  }
  @include min {
    border-left: 1px solid $color-border;
  }
  @include min($width-max) {
    right: calc(50% - #{$width-max / 2} + #{$padding-content-pc});
    &:hover {
      .cart-total,
      .cart-detail {
        background-color: $color-snow;
      }
    }
  }
  &-enter-active {
    transition: opacity 0.12s ease, transform 0.6s $easeOutExpo;
  }
  &-leave-active {
    transition: opacity 0.2s ease, transform 0s 0.2s;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
}

.cart-detail {
  white-space: nowrap;
  @include fz-s;
  @include max {
    padding: 5px 16px;
    color: $color-white;
  }
  @include min {
    width: $width-menu-pc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
  }
}

.cart-total {
  position: relative;
  z-index: 1;
  background-color: $color-white;
  @include transition-fade;
  @include fz-l;
  @include max {
    min-width: 200px;
    padding: 15px 15px 15px 18px;
  }
  @include min {
    min-width: 260px;
    padding: 14px 22px 14px 22px;
  }
}

.cart-total-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-label {
  margin-right: 0.5em;
  @include fz-s;
  @include lh-1;
}
