.l-contents {
  position: relative;
  @include max($mq-tb-max) {
    min-height: 100vh;
  }
  @include min($mq-tb-min) {
    width: calc(100% - var(--side-menu-width));
    min-height: calc(100vh - var(--footer-height));
  }
}