.l-contents {
  position: relative;
  @include max($mq-tb-max) {
    min-height: 100vh;
  }
  @include min($mq-tb-min) {
    flex-grow: 1;
    min-width: 0;
    min-height: calc(100vh - var(--footer-height));
  }
}