@charset "utf-8";

.footer {
  margin-top: $padding-pc;
  display: flex;
  align-items: center;
  @include max {
    justify-content: center;
  }
  @include min {
    padding-bottom: 12px;
  }
}
.footer-logo {
  display: flex;
  background-color: $color-black;
  line-height: 0.8;
  margin-right: 30px;
  @include max {
    padding: 12px;
  }
  @include min {
    width: 140px;
    padding: 12px;
  }
}

.footer-logo-box {
  background-color: $color-white;
  flex-grow: 1;
  @include max {
    margin-right: 8px;
  }
  @include min {
    margin-right: 8px;
  }
}

.footer-logo-text {
  color: $color-white;
  @include font-en;
}
.footer-list {
  display: flex;
  align-items: center;
  @include fz-s;
}
.footer-item + .footer-item {
  margin-left: 1em;
}
.footer-link {
  text-decoration: underline;
  @include min {
    &:hover {
      text-decoration: none;
    } 
  }
}