@charset "utf-8";

.footer {
  border-top: 2px solid $color-white;
}
.footer-body {
  height: 100%;
  background-color: $color-black;
  position: relative;
  overflow: hidden;
}

.footer-ticker {
  line-height: 1;
  overflow: hidden;
  @include fz-xl;
}
.footer-list {
  display: inline-flex;
  align-items: center;
  padding: 0 0.4em;
  animation: footer-ticker 20s $easeInOutSine infinite alternate;
}
.footer-link {
  display: block;
  padding: 0 0.4em;
  letter-spacing: 0.08em;
  font-weight: 700;
  color: $color-white;
  white-space: nowrap;
  @include font-en;
}

.footer-about {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $color-white;
  background-color: $color-black;
  line-height: 1;
  @include font-en;
  @include fz-xl;
}

@keyframes footer-ticker {
  0%,
  10% {
    transform: translateX(0);
  }
  90%,
  100% {
    transform: translateX(-100%) translateX(100vw);
  }
}