@charset "utf-8";

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  z-index: 1;
  @include max-large {
    bottom: 20px;
    padding: 0 $padding-sp * 1.5;
  }
  @include min-large {
    bottom: 30px;
  }
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}