@charset "utf-8";

.header {
  display: flex;
  line-height: 1;
  @include max {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid $color-border;
  }
  @include min {
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
  }
}
.header-inner {
  @include min {
    width: 100%;
    max-width: $width-max;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
  }
}
.header-list {
  display: flex;
  align-items: center;
  line-height: 1;
}
.header-item {
  display: flex;
  align-items: center;
  @include max {
    + .header-item {
      &:before {
        content: "/";
        margin: 0 0.2em;
      }
    }
  }
  @include min {
    border-right: 1px solid $color-border;
  }
}
.header-link {
  display: block;
  @include font-en;
  @include fz-s;
  @include max {
    font-size: 14px;
  }
  @include min {
    padding: 18px 22px;
    &:hover {
      color: $color-white;
      background-color: $color-button;
    }
  }
}