@charset "utf-8";

.header {
  display: flex;
  line-height: 1;
  @include max {
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  @include min {
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
  }
}
.header-inner {
  @include min {
    width: 100%;
    max-width: $width-max;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-right: $width-menu-pc; 
  }
}
.header-list {
  display: flex;
  align-items: center;
  line-height: 1;
}
.header-item {
  @include min {
    border-right: 1px solid $color-border;
  }
  + .header-item {
    @include max {
      margin-left: 1.5em;
    }
  }
}
.header-link {
  display: block;
  @include font-en;
  @include fz-sm;
  @include min {
    padding: 16px;
    &:hover {
      color: $color-white;
      background-color: $color-black;
    }
  }
}