.l-main {
  position: relative;
  background-color: $color-white;
  @include min {
    padding-bottom: $height-footer-pc; 
  }
  &:before {
    @include min($mq-tb-min) {
      content: "";
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 100;
      left: 0;
      right: 0;
      border: $border-width solid $color-border;
      pointer-events: none;
      box-sizing: border-box;
    }
  }
  &:after {
    @include min($mq-tb-min) {
      content: "";
      width: $border-width;
      height: 100vh;
      position: fixed;
      z-index: 100;
      top: 0;
      left: $width-menu-pc;
      background-color: $color-border;
      pointer-events: none;
      box-sizing: border-box;
    }
  }
}