@charset "utf-8";

@mixin nav-active {
  color: $color-dark;
  &:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
    margin-top: -4px;
    background-color: currentColor;
  }
}

.menu {
  &.is-open {
    .menu-container {
      @include max($mq-kamakura) {
        transform: translateX(0);
      }
    }
  }
  &-container {
    width: $width-menu;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: $width-border-pc 0;
    background: $color-white;
    @include br;
    @include max($mq-kamakura) {
      padding-bottom: $height-cart-sp;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      transform: translateX(-100%);
      transition: transform .3s $easeOutQuart;
    }
  }
  &-logo {
    height: 130px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    a {
      width: 102px;
      position: relative;
      display: block;
      line-height: 0;
    }
    span {
      display: block;
      &:before {
        content: '';
        display: block;
        height: 0;
        padding-top: 70.3125%;
      }
    }
    svg {
      @include fit-full;
    }
  }
  &-list {
    padding: 20px 30px;
    @include bt;
  }
  &-item {
    &.mod-detail {
      @include min($mq-kamakura) {
        display: none;
      }
    }
    a {
      display: block;
      position: relative;
      padding: 6px 0;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.4;
      color: $color-modest;
      white-space: nowrap;
      @include min {
        &:hover {
          @include nav-active;
        }
      }
      &.is-active {
        @include nav-active;
      }
    }
  }
}

// 小さい画面用のボタン
.menu-button {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .08em;
  @include max($mq-kamakura) {
    position: fixed;
    z-index: 10;
    width: 100px;
    height: $height-cart-sp;
    bottom: 0;
    left: 0;
    font-size: 18px;
    @include br;
  }
  @include max($mq-minimal) {
    width: 80px;
  }
  @include min($mq-kamakura) {
    display: none;
  }
}
