@charset "utf-8";

.menu {
  @include min-large {
    width: $width-menu-pc;
    position: relative;
    flex: none;
  }
  @include min($mq-large) {
  }
  &-container {
    @include max-large {
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      visibility: hidden;
      background-color: $color-white;
      border-bottom: $width-border solid $color-border;
      transform: translate3d(0, -100%, 0);
      transition: transform 0.36s $easeOutExpo, visibility 0s 0.36s;
      will-change: transform;
      &.is-open {
        visibility: visible;
        transform: translate3d(0, 0, 0);
        transition: transform 0.36s $easeOutExpo, visibility 0s;
      }
    }
    @include min-large {
      height: 100vh;
      position: sticky;
      top: 0;
      left: 0;
      padding-left: 38px;
      &.can-scroll {
        overflow-y: scroll;
      }
      &:not(.can-scroll) {
        display: flex;
        align-items: center;
      }
    }
  }
  &-frame {
    @include min-large {
      padding: 50px 0;
    }
  }
  &-button {
    @include max-large {
      width: $width-menu-sp;
      height: $width-menu-sp;
      position: fixed;
      z-index: 20;
      right: 0;
      top: 0;
      background-color: $color-black;
      @include center-flex;
      &.is-open {
        .menu-button-icon {
          &:before {
            top: 50%;
            transform: rotate(45deg);
          }
          span {
            display: none;
          }
          &:after {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }
      &-icon {
        width: 20px;
        height: 14px;
        position: relative;
        color: $color-white;
        &:before,
        &:after,
        span {
          content: "";
          width: 100%;
          height: 2px;
          border-radius: 999em;
          left: 0;
          position: absolute;
          background-color: currentColor;
        }
        &:before {
          top: 0;
        }
        span {
          top: 50%;
        }
        &:after {
          top: 100%;
        }
      }
    }
    @include min-large {
      display: none;
    }
  }
  &-logo {
    line-height: 1;
    @include between {
    }
    @include max-large {
      width: 100%;
      display: flex;
      padding: 26px $padding-sp;
    }
    @include min-large {
      margin-bottom: 20px;
    }
    a {
      display: inline-block;
      padding: 8px 10px;
      font-size: 14px;
      font-weight: 700;
      color: $color-white;
      background-color: $color-black;
    }
  }
  &-list {
    @include max-large {
      display: flex;
      flex-wrap: wrap;
      padding: 0 #{$padding-sp - 10px} 24px;
    }
  }
  &-item {
    &.mod-detail {
      @include min-large {
        display: none;
      }
    }
    &.mod-orange a {
      &.is-active {
        color: $color-orange;
      }
      &:before {
        background-color: $color-orange;
      }
      @include min {
        &:hover {
          color: $color-orange;
        }
      }
    }
    &.mod-blue a {
      &.is-active {
        color: $color-blue;
      }
      &:before {
        background-color: $color-blue;
      }
      @include min {
        &:hover {
          color: $color-blue;
        }
      }
    }
    &.mod-beige a {
      &.is-active {
        color: $color-beige;
      }
      &:before {
        background-color: $color-beige;
      }
      @include min {
        &:hover {
          color: $color-beige;
        }
      }
    }
    &.mod-red a {
      &.is-active {
        color: $color-red;
      }
      &:before {
        background-color: $color-red;
      }
      @include min {
        &:hover {
          color: $color-red;
        }
      }
    }
    a {
      display: flex;
      line-height: 1;
      letter-spacing: normal;
      white-space: nowrap;
      align-items: center;
      @include max-large {
        padding: 10px;
        font-size: 16px;
      }
      @include min-large {
        padding: 6px 0;
        font-size: 18px;
      }
      &:before {
        content: "";
        width: 8px;
        height: 8px;
        margin-right: 6px;
        border-radius: 50%;
      }
    }
  }
  &-icon {
    flex: none;
    @include max {
      width: 24px;
      height: 24px;
    }
    @include min {
      width: 28px;
      height: 28px;
    }
  }
  &-name {
    margin-left: 4px;
  }
}
