@charset "utf-8";

.menu {
  @include max {
    &.is-open .menu-frame {
      visibility: visible;
      transform: translateY(0);
      transition: transform 0.4s $easeOutQuart, visibility 0s;
    }
  }
  @include min {
    width: $width-menu-pc;
    position: sticky;
    z-index: 10;
    flex: none;
    display: flex;
    top: 0;
    left: 0;
    &.is-small {
      position: static;
    }
  }
}

.menu-button {
  @include max {
    width: $width-menu-sp;
    height: $width-menu-sp;
    position: fixed;
    z-index: 1000;
    bottom: $padding-sp;
    right: $padding-sp;
    background-color: $color-button;
    border-radius: 50%;
    @include center-flex;
  }
  @include min {
    display: none;
  }
  &.is-open {
    .menu-button-icon {
      &:before {
        top: 50%;
        transform: rotate(45deg);
      }
      span {
        display: none;
      }
      &:after {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
  &-icon {
    width: 20px;
    height: 12px;
    margin-bottom: $width-border-input;
    position: relative;
    color: $color-white;
    &:before,
    &:after,
    span {
      content: "";
      width: 100%;
      height: $width-border-input;
      left: 0;
      position: absolute;
      background-color: currentColor;
    }
    &:before {
      top: 0;
    }
    span {
      top: 50%;
    }
    &:after {
      top: 100%;
    }
  }

}

.menu-frame {
  @include max {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 900;
    visibility: hidden;
    background-color: $color-white;
    border-top: 1px solid $color-border;
    padding: 22px 70px 22px 22px;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.3s $easeOutQuart, visibility 0s 0.3s;
  }
  @include min {
    width: 100%;
    position: relative;
  }
}

.menu-list {
  @include max {
    display: flex;
    flex-wrap: wrap;
    margin: -7px;
  }
}
.menu-item {
  @include max {
    padding: 7px;
  }
  @include min {
    position: relative;
    border-bottom: 1px solid $color-border;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-snow;
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform 0.7s $easeOutExpo;
    }
  }
}
.menu-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  @include font-en;
  @include lh-1;
  &.is-active {
    background-color: $color-snow;
  }
  @include max {
    padding: 12px;
    @include fz-l;
  }
  @include min {
    padding: 11px 16px;
    font-size: 16px;
    &:hover {
      background-color: $color-snow;
    }
  }
  svg {
    flex: none;
    @include max {
      width: 24px;
      height: 24px;
      margin-right: 3px;
    }
    @include min {
      width: 22px;
      height: 22px;
      margin-right: 3px;
    }
  }
}

.menu-please {
  position: absolute;
  top: 0;
  left: calc(100% + 3em);
  white-space: nowrap;
  writing-mode: vertical-rl;
  @include fz-l;
}


.app.page-index {
  @include min {
    .menu-item:after {
      transform: scale(1);
      transform-origin: left center;
    }
  }
}


@for $i from 0 through 20 {
  .menu-item:nth-child(#{$i + 1}):after { transition-delay: #{$i * 24ms};}
}