@charset "utf-8";

// -----------------------------------------------------
// 注意事項
// -----------------------------------------------------

.about {
  &-section {
    &:nth-child(n + 2) {
      margin-top: 60px;
    }
  }
  &-copy {
    padding: 34px $padding-contents-sp 42px 18px;
    font-size: 28px;
    line-height: 1.6;
    letter-spacing: 0.2em;
    font-weight: bold;
    @include bb;
    @include min {
      padding: 34px $padding-contents-pc 42px 44px;
      font-size: 52px;
    }
    em {
      padding-left: 4px;
      font-size: 128%;
      font-style: normal;
      @include min {
        padding-left: 8px;
      }
    }
  }
  &-service {
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: 16px 0 8px -10px;
      @include min {
        margin: 30px 0 0 -16px;
      }
    }
    &-item {
      &:nth-child(n+2) {
        margin-left: 15px;
        @include min {
          margin-left: 40px;
        }
      }
      a {
        display: block;
        text-align: center;
        @include min {
          &:hover {
            filter: grayscale(1);
          }
        }
      }
      svg {
        display: block;
        width: 60px;
        height: 60px;
        @include min {
          width: 100px;
          height: 100px;
        }
      }
      span {
        display: inline-block;
        margin-top: 6px;
        padding-bottom: 6px;
        font-size: 16px;
        line-height: 1.2;
        @include font-ramabhadra;
        @include min {
          font-size: 24px;
        }
      }
    }
  }
}
