@charset "utf-8";

// -----------------------------------------------------
// このサイトについて
// -----------------------------------------------------

.about {
  max-width: 850px;
  position: relative;
  @include max {
    padding: 60px $padding-sp 0;
  }
  @include min {
    padding-top: 80px;
  }
  @include max-large {
    margin: 0 auto;
  }
  @include min-large {
    padding: 100px 100px 180px 40px;
    &:after {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $color-border;
    }
  }
}
