@charset "utf-8";

// -----------------------------------------------------
// デプロイ
// -----------------------------------------------------

.deploy {
  padding: 130px 100px;
  font-size: 56px;
  letter-spacing: 0.1em;
}
