@charset "utf-8";

// -----------------------------------------------------
// 料金内訳
// -----------------------------------------------------

.detail {
  &-title {
    &-copy {
      width: 8.6em;
      margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 0;
      font-size: 52%;
      font-weight: bold;
      @include b;
      cursor: pointer;
      @include min {
        padding: 12px 0;
        margin-left: 30px;
      }
      &:hover {
        color: #fff;
        background-color: $color-border;
      }
    }
  }
  &-body {
    position: relative;
    @include max {
      padding: 40px $padding-contents-sp;
    }
    @include min {
      padding: $padding-contents-pc;
    }
  }
  &-main {
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: .2s linear;
    @include max {
      flex-direction: column-reverse;
    }
    @include min {
      align-items: center;
    }
    &.is-visible {
      opacity: 1;
      transition-delay: .4s;
      pointer-events: auto;
    }
  }
  &-price {
    @include min {
      padding-right: 100px;
    }
    &-item {
      display: flex;
      align-items: center;
      &:nth-child(n + 2) {
        margin-top: 20px;
        @include min {
          margin-top: 30px;
        }
      }
    }
    &-link {
      display: flex;
      align-items: center;
    }
    &-name {
      margin-right: 20px;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      @include min {
        margin-right: 30px;
        font-size: 32px;
      }
    }
    &-color {
      width: 26px;
      height: 26px;
      margin-right: 10px;
    }
    .price {
      margin-left: auto;
    }
  }
  &-chart {
    @include max {
      width: 240px;
      height: 240px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    @include min {
      width: 320px;
      height: 320px;
    }
  }
  &-empty {
    position: absolute;
    top: $padding-contents-sp;
    left: $padding-contents-sp;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    pointer-events: none;
    span {
      display: block;
      opacity: 0;
      transition: .36s $easeOutQuart;
      &:nth-child(odd) {
        transform: translateX(-10px);
        @include min {
          transform: translateX(-16px);
        }
      }
      &:nth-child(even) {
        transform: translateX(10px);
        @include min {
          transform: translateX(16px);
        }
      }
    }
    @include min {
      top: $padding-contents-pc;
      left: $padding-contents-pc;
      font-size: 52px;
    }
    &.is-visible {
      span {
        opacity: 1;
        transform: translateX(0);
        transition-delay: .4s;
      }
    }
  }
}
