@charset "utf-8";

// -----------------------------------------------------
// 料金内訳
// -----------------------------------------------------

.detail-copy {
  width: 10.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  background-color: $color-black;
  border-radius: 999em;
  cursor: pointer;
  @include font-sans;
  @include fz-s;
  @include lh-1;
  @include transition-collection;
  @include max {
    margin-left: 25px;
    padding: 10px 0;
  }
  @include min {
    margin-left: 50px;
    padding: 18px 0;
  }
}

.detail-body {
  position: relative;
  @include max {
    margin-top: 20px;
  }
  @include min {
    margin-top: 30px;
  }
}

.detail-main {
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: .2s linear;
  @include max {
    flex-direction: column-reverse;
  }
  @include min {
    align-items: center;
  }
  &.is-visible {
    opacity: 1;
    transition-delay: .4s;
    pointer-events: auto;
  }
}

.detail-price {
  @include min {
    min-width: 400px;
    padding-right: 100px;
  }
  .price {
    margin-left: auto;
  }
}

.detail-price-item {
  &:nth-child(n + 2) {
    margin-top: 20px;
    @include min {
      margin-top: 30px;
    }
  }
}

.detail-price-link {
  display: flex;
  align-items: center;
  @include hover-fade;
}

.detail-price-name {
  margin-right: 20px;
  @include font-en;
  @include fz-l;
  @include lh-1;
  @include min {
    margin-right: 30px;
  }
}

.detail-price-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 16px;
}

.detail-chart {
  @include max {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  @include min {
    width: 320px;
    height: 320px;
  }
}

.detail-empty {
  position: absolute;
  top: 0;
  left:0 ;
  pointer-events: none;
  @include font-en;
  @include fz-grande;
  @include lh-en;
  span {
    display: block;
    opacity: 0;
    transition: opacity .2s linear;
    &:nth-child(2) {
      transition-delay: .08s;
    }
  }
  &.is-visible {
    span {
      opacity: 1;
      transition-delay: .4s;
    }
  }
}