@charset "utf-8";

// -----------------------------------------------------
// 料金内訳
// -----------------------------------------------------
.detail-copy {
  width: 10.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-button);
  border-radius: 999em;
  cursor: pointer;
  line-height: var(--leading-none);
  @include transition-collection;
  @include max {
    margin-left: 2.5rem;
    padding: 1.2rem 0;
    font-size: 1.3rem;
  }
  @include min {
    margin-left: 5rem;
    padding: 1.5rem 0;
    font-size: 1.3rem;
  }
  @include hover {
    background-color: var(--color-button-hover);
  }
  @include keyboard-focus {
    @include focus-button;
  }
}
.detail-body {
  position: relative;
  @include max {
    padding: 5rem var(--base-padding);
  }
  @include min {
    padding: var(--base-padding);
  }
}
.detail-main {
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s linear;
  &.is-visible {
    opacity: 1;
    transition-delay: .4s;
    pointer-events: auto;
  }
}
.detail-main-content {
  display: flex;
  margin-left: -1.2rem;
  @include max {
    margin-bottom: 3.6rem;
    flex-direction: column-reverse;
  }
  @include min {
    margin-bottom: 6.4rem;
    align-items: center;
  }
}
.detail-price {
  @include min {
    min-width: 40rem;
    padding-right: 10rem;
  }
  .price {
    margin-left: auto;
  }
}
.detail-price-link {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  border: var(--focus-border-width) solid transparent;
  @include hover {
    border-color: var(--color-link);
  }
  @include keyboard-focus {
    @include focus-ring;
  }
}
.detail-price-name {
  margin-right: 2rem;
  font-size: 2rem;
  font-family: var(--font-en);
  line-height: var(--leading-none);
  @include min {
    margin-right: 3rem;
    font-size: 2.2rem;
  }
}
.detail-price-color {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}
.detail-chart {
  @include max {
    width: 24rem;
    height: 24rem;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  @include min {
    width: 33.2rem;
    height: 33.2rem;
  }
}
.detail-empty {
  position: absolute;
  pointer-events: none;
  font-family: var(--font-en);
  line-height: var(--leading-copy);
  @include max {
    top: 3rem;
    left: var(--base-padding);
    font-size: 2.4rem;
  }
  @include min {
    top: var(--base-padding);
    left: var(--base-padding);
    font-size: 4rem;
  }
  span {
    display: block;
    opacity: 0;
    transition: opacity .2s linear;
    &:nth-child(2) {
      transition-delay: .08s;
    }
  }
  &.is-visible {
    span {
      opacity: 1;
      transition-delay: .4s;
      pointer-events: auto;
    }
  }
}
