@charset "utf-8";

// -----------------------------------------------------
// 最初のページ
// -----------------------------------------------------

.landing {
  position: relative;
  display: flex;
  align-items: center;
  @include max {
    min-height: calc(100vh - #{$height-footer-sp});
  }
  @include min {
    min-height: calc(100vh - #{$height-footer-pc});
    padding: 0 70px;
  }
  &-text {
    line-height: 2;
    @include max {
      font-size: 16px;
    }
    @include min {
      font-size: 24px;
    }
  }
}
