@charset "utf-8";

.landing-service-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -16px;
  @include min {
    margin: -15px;
  }
}
.landing-service-item {
  @include max {
    width: 160px;
  }
  @include min {
    width: 25%;
  }
}
.landing-service-link {
  display: block;
  @include max {
    padding: 16px 0;
  }
  @include min {
    padding: 5px 0;
    &:hover {
      filter: grayscale(100%);
      color: var(--color-muted);
    }
  }
}
.landing-service-inner {
  display: flex;
  align-items: center;
  @include min {
    padding: 10px;
    border: var(--border-width) solid transparent;
  }
}
.landing-service-icon {
  @include max {
    width: 46px;
    margin-right: 5px;
  }
  @include min {
    width: 60px;
    margin-right: 8px;
  }
}
.landing-service-name {
  display: block;
  line-height: var(--leading-none);
  @include max {
    margin-bottom: 5px;
  }
  @include min {
    margin-bottom: 10px;
  }
}
.landing-service-desc {
  display: block;
  color: var(--color-muted);
  font-size: var(--text-sm);
  line-height: var(--leading-none);
}
