@charset "utf-8";

.service-body {
  overflow: hidden;
  background-color: $color-white;
}

.service-main {
  @include min {
    width: calc(100% - #{$width-ball-pc});
    padding-right: 80px;
  }
}

.service-unknown {
  mix-blend-mode: difference;
  @include max {
    width: $width-ball-sp;
    margin: 120px auto 0;
  }
  @include min {
    width: $width-ball-pc;
    flex: none;
    position: sticky;
    top: calc(50vh - #{$width-ball-pc / 2});
  }
}

.service-unknown-ball {
  background-color: $color-white;
  border-radius: 50%; 
  @include max {
    height: $width-ball-sp;
  }
  @include min {
    height: $width-ball-pc;
  }
}
.service-unknown-logo {
  width: 100%;
  display: flex;
  background-color: $color-white;
  line-height: 0.8;
  margin-right: 30px;
  margin-top: 30px;
  @include max {
    padding: 12px;
  }
  @include min {
    padding: 15px;
  }
}
.service-unknown-logo-box {
  background-color: $color-button;
  flex-grow: 1;
  @include hide-text;
  @include max {
    margin-right: 8px;
  }
  @include min {
    margin-right: 8px;
  }
}
.service-unknown-logo-text {
  color: $color-button;
  @include font-en;
  @include fz-xl;
}

.service-content {
  @include max {
    padding: $padding-base-sp * 1.4 $padding-base-sp;
  }
  @include min {
    padding: $padding-base-pc;
  }
}

.service-inside {
  .service-calc.mod-multiple {
    @include max {
      margin-bottom: 50px;
    }
    @include min {
      margin-bottom: 40px;
    }
  }
  &:first-child {
    border-top: 1px solid $color-border;
  }
  .table {
    border-top: none;
  }
}

.service-calc {
  position: relative;
  z-index: 0;
}

.service-calc-label {
  @include font-en;
  @include fz-l;
  @include lh-min;
  @include dot-border;
  @include max {
    padding: 20px $padding-base-sp;
  }
  @include min {
    padding: 36px $padding-base-pc;
  }
}

.service-calc-footer {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.service-calc-append {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: 999em;
  color: $color-white;
  background-color: $color-button;
  @include transition-collection;
  span {
    padding-left: 20px;
    position: relative;
    text-align: left;
    @include fz-s;
    @include lh-1;
    &:before,
    &:after {
      content: '';
      width: 12px;
      height: $width-border-input;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: currentColor;
    }
    &:before {
      transform: translate3d(0, -50%, 0);
    }
    &:after {
      transform: translate3d(0, -50%, 0) rotate(90deg);
    }
  }
}

.service-ad-desc {
  @include max {
    margin-bottom: 32px;
  }
  @include min {
    margin-bottom: 46px;
  }
}
