@charset "utf-8";
// -----------------------------------------------------
// サービス
// -----------------------------------------------------
.service {
  &-title {
    padding: 0 13px;
    @include min {
      padding: $width-border-pc 40px 0;
    }
    &-icon {
      width: 40px;
      height: 40px;
      margin-right: 6px;
      @include min {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }
    }
    &-name {
      font-size: 26px;
      letter-spacing: 0.05em;
      white-space: nowrap;
      @include min {
        font-size: 50px;
      }
    }
  }
  &-inside {
    @include max {
      padding: 20px 20px 0;
    }
    @include min {
      padding: 40px 40px 0;
    }
    &:nth-of-type(n+2) {
      @include max {
        margin-top: 10px;
      }
    }
    &:last-of-type {
      @include bb;
      @include max {
        padding-bottom: 35px;
      }
      @include min {
        padding-bottom: 60px;
      }
    }
    .table {
      @include bl;
      @include br;
    }
  }
  // 計算するところ
  &-calc {
    position: relative;
    &-label {
      font-size: 22px;
      @include bb;
      @include max {
        padding-bottom: 6px;
      }
      @include min {
        padding-bottom: 8px;
        font-size: 32px;
      }
    }
    &-footer {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: flex-end;
    }
    &-append {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 14px;
      visibility: hidden;
      &.is-loaded {
        visibility: visible;
      }
      @include min {
        padding: 12px 20px;
      }
      @include bb;
      @include bl;
      &:hover span {
        opacity: 0.5;
      }
      span {
        padding-left: 22px;
        position: relative;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.1em;
        text-align: left;
        @include min {
          padding-left: 25px;
          font-size: 16px;
        }
        &:before,
        &:after {
          content: '';
          width: 15px;
          height: 3px;
          position: absolute;
          top: 50%;
          left: 0;
          border-radius: 999em;
          background-color: currentColor;
          transition: 0.2s $easeOutCubic;
        }
        &:before {
          transform: translate(0, -50%);
        }
        &:after {
          transform: translate(0, -50%) rotate(90deg);
        }
      }
    }
  }
}
