@charset "utf-8";
// -----------------------------------------------------
// サービス
// -----------------------------------------------------
.service {
  &-inside {
    .service-calc.mod-multiple {
      @include max {
        margin-bottom: 50px;
      }
      @include min {
        margin-bottom: 40px;
      }
    }
  }
  &-title {
    padding: 0 13px;
    @include min {
      padding: $width-border-pc 40px 0;
    }
    &-icon {
      flex: 0 0 auto;
      width: 40px;
      height: 40px;
      margin-right: 6px;
      @include min {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }
    }
    &-name {
      font-size: 26px;
      letter-spacing: 0.05em;
      white-space: nowrap;
      @include min {
        font-size: 50px;
      }
    }
  }
  // 計算するところ
  &-calc {
    position: relative;
    &-label {
      line-height: 1.2;
      font-weight: bold;
      @include bb;
      @include max {
        padding: 14px 20px;
        font-size: 22px;
      }
      @include min {
        padding: 22px 50px;
        font-size: 32px;
      }
    }
    &-footer {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: flex-end;
    }
    &-append {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding: 12px 14px;
      @include min {
        padding: 12px 20px;
        &:hover span {
          opacity: 0.5;
        }
      }
      @include bb;
      @include bl;
      span {
        padding-left: 22px;
        position: relative;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.1em;
        text-align: left;
        @include min {
          padding-left: 25px;
          font-size: 16px;
        }
        &:before,
        &:after {
          content: '';
          width: 15px;
          height: 3px;
          position: absolute;
          top: 50%;
          left: 0;
          border-radius: 999em;
          background-color: currentColor;
          transition: 0.2s $easeOutCubic;
        }
        &:before {
          transform: translate(0, -50%);
        }
        &:after {
          transform: translate(0, -50%) rotate(90deg);
        }
      }
    }
  }
}
