@charset "utf-8";
.terms {
  section + section {
    margin-top: 30px;
  }
  ol {
    li {
      position: relative;
      padding-left: 1.7em;
      counter-increment: num;
      &:before {
        content: "("counter(num)")";
        position: absolute; 
        top: 0;
        left: 0;
      }
    }
  }
  a {
    word-break: break-all;
  }
}
