.what-poem {
  @include max {
    padding: $padding-base-sp $padding-base-sp ($padding-base-sp * 2);
  }
  @include min {
    padding: $padding-base-pc $padding-base-pc ($padding-base-pc * 2);
  }
}

.what-poem-text {
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
  @include fz-poem;
  @include max {
    text-align: justify;
  }
  a {
    font-size: 106%;
    padding: 0 0.1em;
    text-decoration: none;
    @include font-en;
    &.mod-orange {
      color: $color-orange;
    }
    &.mod-blue {
      color: $color-blue;
    }
    &.mod-red {
      color: $color-red;
    }
    &.mod-beige {
      color: $color-beige;
    }
    &.mod-serverless {
      color: $color-serverless;
    }
    @include min {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.what-poem-text + .what-poem-text {
  @include max {
    margin-top: 30px;
  }
  @include min {
    margin-top: 32px;
  }
}

.what-footer {
  display: flex;
  @include max {
    margin-top: 60px;
    justify-content: center;
  }
  @include min {
    margin-top: 60px;
  }
}

.what-button {
  color: $color-white;
  line-height: 1;
  letter-spacing: 0.06em;
  background-color: $color-button;
  border-radius: 999em;
  @include center-flex;
  @include max {
    padding: 22px 34px;
  }
  @include min {
    padding: 28px 44px;
  }
}